{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Faktur{% endblock %} 

{% block page_title %}Penjualan{% endblock %} 

{% block content %}
<div class="flex flex-row gap-3 justify-start mb-3">
    <a href="{% url 'faktur' %}" class="p-2 border-2 border-gray-200 rounded-md text-sm focus:text-white focus:bg-customBlue focus:border-customBlue {% if request.path == '/penjualan/faktur/' %} text-white bg-customBlue border-customBlue {% endif %}">
        Faktur
    </a>
    <a href="{% url 'faktur' %}?status=belum_lunas" class="p-2 border-2 border-gray-200 rounded-md text-sm focus:text-white focus:bg-customBlue focus:border-customBlue {% if request.path == '/penjualan/faktur/belumlunas/' %} text-white bg-customBlue border-customBlue {% endif %}">
        Faktur Belum Lunas
    </a>
    <a href="{% url 'faktur' %}?status=jatuh_tempo" class="p-2 border-2 border-gray-200 rounded-md text-sm focus:text-white focus:bg-customBlue focus:border-customBlue {% if request.path == '/penjualan/faktur/jatuhtempo/' %} text-white bg-customBlue border-customBlue {% endif %}">
        Faktur Jatuh Tempo
    </a>
  </div>
  <div
  class="flex flex-col p-2 h-auto mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800"
>
    <div class="mt-5 ml-3 flex flex-row justify-between {% if request.GET.status == 'jatuh_tempo' %} flex-col {% endif %}">
        <div class="justify-start">
            <input type="text" id="searchFaktur" class="form-control rounded-lg border-gray-200 border-2 max-w-40 focus:border-customBlue lg:max-w-full" placeholder="Cari No Faktur disini...">
            <button class="bg-customBlue border-customBlue hover:bg-[#243F6B] p-2 rounded-lg text-white w-12" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        {% if request.GET.status == 'jatuh_tempo' %}
            <form action="{% url 'faktur' %}" method="GET">
                <div class="mt-5 flex">
                    <div class="mx-1">
                        <label for="per_tgl" class="block text-sm font-medium text-gray-700">Per Tanggal</label>
                        <input type="date" id="per_tgl" name="per_tgl"
                        class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-customBlue focus:border-customBlue" value="{{ request.GET.per_tgl }}">
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
    <table id="allpesanan" class="display cell-border">
        <thead>
            <tr>
                <th>No Faktur</th>
                <th>Tanggal Faktur</th>
                {% if request.GET.status %}
                    <th>Tanggal Jatuh Tempo</th>
                {% endif %}
                <th>No Referensi</th>
                <th>Customer</th>
                <th>Total</th>
                {% if not request.GET.status %}
                    <th>Status</th>
                    <th>Terakhir Edit</th>
                    <th>Sisa Bayar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for faktur in list_faktur %}
                <tr data-id="{{ faktur.id }}">
                    <td>{{ faktur.no_faktur }}</td>
                    <td>{{ faktur.tanggal_faktur }}</td>
                    {% if request.GET.status %}
                        {% with detail=faktur.pesanan.detailpesanan_set.first %}
                            <td>{{ detail.jatuh_tempo }}</td>
                        {% endwith %}
                    {% endif %}
                    <td>{{ faktur.pesanan_id.no_referensi }}</td>
                    <td>{{ faktur.pesanan_id.customer_id.nama }}</td>
                    <td>{{ faktur.total|floatformat:2|intcomma }}</td>
                    {% if not request.GET.status %}
                        <td>{{ faktur.status }}</td>
                        <td>{{ faktur.terakhir_edit }}</td>
                        <td>{{ faktur.sisa_bayar }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
