{% extends 'base/base.html' %}
{% load static %}

{% block title %}Tambah Customer{% endblock %}

{% block page_title %}Customer{% endblock %} 

{% block content %}
<div class="flex flex-col p-3 mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800">
    <div class="flex flex-row justify-between mb-3">
        <h2 class="text-lg font-semibold">Detail Customer</h2>
        <button onclick="window.history.back()"><i class="fa-solid fa-x w-8 text-gray-500"></i></button>
      </div>
    <hr class="border-gray-300 pb-3">
    <form id="custForm">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Nama Customer -->
            <div>
                <input type="hidden" name="custId" id="custId" value="{{ customer.id|default:"" }}">
            <label for="nama-cust" class="block text-sm font-medium text-gray-700">Nama Customer</label>
            <input type="text" id="nama-sucustpp" placeholder="Masukkan nama supplier" value="{{ customer.nama|default:"" }}"
                class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-700">
            </div>
            
            <!-- No. HP -->
            <div>
            <label for="nohp-cust" class="block text-sm font-medium text-gray-700">No. HP</label>
            <input type="text" id="nohp-cust" placeholder="Masukkan no. hp customer" value="{{ customer.no_hp|default:"" }}"
                class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-700">
            </div>
            
            <!-- Nama Sales Best Motor -->
            <div>
                <label for="sales-bestmtr" class="block text-sm font-medium text-gray-700">Nama Sales Best Motor</label>
                <input type="hidden" name="salesId" id="salesId" value="{{ customer.user_id|default:"" }}">
                <input type="text" id="sales-bestmtr" placeholder="Masukkan nama sales best motor" value="{{ customer.user_id.nama|default:"" }}"
                class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-700">
            </div>
            
            <!-- Toko Customer / Perusahaan -->
            <div>
                <label for="toko-cust" class="block text-sm font-medium text-gray-700">Toko Customer / Perusahaan</label>
                <input type="text" id="toko-cust" placeholder="Masukkan toko / perusahaan customer" value="{{ customer.toko|default:"" }}"
                class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-700">
            </div>
            
            <!-- Lokasi Customer -->
            <div>
            <label for="lokasi-cust" class="block text-sm font-medium text-gray-700">Lokasi Customer</label>
                <input type="text" id="lokasi-cust" placeholder="Masukkan lokasi customer" value="{{ customer.lokasi|default:"" }}"
                    class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-700">
            </div>
        </div>
        <div class="mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            <!-- Catatan -->
            <div class="md:col-span-2">
              <label for="catatan-cust" class="block text-sm font-medium text-gray-700">Catatan</label>
              <textarea id="catatan-cust" rows="3" placeholder="Masukkan catatan (jika perlu)" value="{{ customer.catatan|default:"" }}"
                class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-customBlue focus:border-customBlue"></textarea>
            </div>
            
            <!-- Alamat Lengkap -->
            <div class="md:col-span-2">
              <label for="alamat-cust" class="block text-sm font-medium text-gray-700">Alamat Lengkap</label>
              <textarea id="alamat-cust" rows="3" placeholder="Masukkan alamat lengkap supplier" value="{{ customer.alamat_lengkap|default:"" }}"
                class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-customBlue focus:border-customBlue"></textarea>
            </div>
        </div>
        <div class="md:grid-cols-2 lg:grid-cols-4 gap-6">
            <button type="submit" id="btn-submit" class="mt-5 ml-auto text-center">
                <p class="text-sm font-medium text-gray-700">Simpan</p>
                <i class="mt-1 fa-regular fa-floppy-disk text-2xl text-customBlue"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/tambahcust.js' %}"></script>
{% endblock %}