{% extends 'base/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %} 

{% block style %}
<style>
  .apexcharts-legend {
    display: grid !important;
    grid-template-columns: repeat(2, 0.8fr);
  }

  @media (max-width: 768px) {
    .apexcharts-legend {
      grid-template-columns: 1fr; /* Ubah menjadi 1 kolom */
    }
  }

  @media (max-width: 1246px) and (min-width: 1024px) {
    .apexcharts-legend {
      grid-template-columns: 1fr; /* Ubah menjadi 1 kolom */
    }
  }
</style>
{% endblock %} 

{% block page_title %}Dashboard{% endblock %} 

{% block content %}
<div class="grid md:grid-cols-2 gap-4 mb-4">
  <div
    class="p-2 border-2 border-gray-200 flex h-24 rounded justify-between bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="flex flex-col justify-between">
      <p class="*:dark:text-gray-500 text-base font-semibold lg:text-sm">
        Total Pesanan Bulanan
      </p>
      <div>
        <p id="pesananBulanan" class="*:dark:text-gray-500 text-sm lg:text-xs">Bulan Januari</p>
        <p
          id="countPesanan"
          class="*:dark:text-gray-500 text-customBlue text-lg font-bold lg:text-xl"
        >
          0
        </p>
      </div>
    </div>
    <div class="flex items-center">
      <a
        href="{% url 'pesanan' %}"
        class="*:dark:text-gray-500 text-sm text-center text-customBlue lg:text-xs"
      >
        Detail >
      </a>
    </div>
  </div>
  <div
    class="p-2 border-2 border-gray-200 flex h-24 rounded justify-between bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="flex flex-col justify-between">
      <p class="*:dark:text-gray-500 text-base font-semibold lg:text-sm">
        Semua Produk
      </p>
      <div>
        <p class="*:dark:text-gray-500 text-sm lg:text-xs">Total Produk</p>
        <p
          class="*:dark:text-gray-500 text-customBlue text-lg font-bold lg:text-xl"
        >
          {{ total_produk|default:"0" }}
        </p>
      </div>
    </div>
    <div class="flex items-center">
      <a
        href="{% url 'barang' %}"
        class="*:dark:text-gray-500 text-sm text-center text-customBlue lg:text-xs"
      >
        Detail >
      </a>
    </div>
  </div>
</div>
<div class="grid lg:grid-cols-2 gap-4 mb-4">
  <div
    class="p-2 border-2 border-gray-200 flex h-72 rounded justify-between bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="max-w-full w-full h-full">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-base font-semibold">Pendapatan Bulanan</h2>
        <div class="flex space-x-2">
          <!-- Dropdown untuk waktu -->
          <button
            id="incomeDropdownButton"
            data-week="1"
            data-dropdown-toggle="dropdownbtn"
            class="text-sm text-gray-700 flex items-center"
          >
            Minggu ke-1
            <svg
              class="w-4 h-4 ml-1"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M5.5 7.5L10 12l4.5-4.5H5.5z"></path>
            </svg>
          </button>
          <div
            id="dropdownbtn"
            class="hidden z-10 w-36 bg-white rounded-lg shadow"
          >
            <ul class="text-sm text-gray-700">
              <li>
                <a href="#" data-week="1" class="block px-4 py-2 hover:bg-gray-100"
                  >Minggu ke-1</a
                >
              </li>
              <li>
                <a href="#" data-week="2" class="block px-4 py-2 hover:bg-gray-100"
                  >Minggu ke-2</a
                >
              </li>
              <li>
                <a href="#" data-week="3" class="block px-4 py-2 hover:bg-gray-100"
                  >Minggu ke-3</a
                >
              </li>
              <li>
                <a href="#" data-week="4" class="block px-4 py-2 hover:bg-gray-100"
                  >Minggu ke-4</a
                >
              </li>
            </ul>
          </div>

          <!-- Dropdown untuk bulan -->
          <button
            id="incomeMonthDropdownButton"
            data-month="1"
            data-dropdown-toggle="monthDropdownbtn"
            class="text-sm text-gray-700 flex items-center"
          >
            Januari
            <svg
              class="w-4 h-4 ml-1"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M5.5 7.5L10 12l4.5-4.5H5.5z"></path>
            </svg>
          </button>
          <div
            id="monthDropdownbtn"
            class="hidden z-10 w-36 bg-white rounded-lg shadow"
          >
            <ul class="text-sm text-gray-700">
              <li>
                <a href="#" data-month="januari" class="block px-4 py-2 hover:bg-gray-100"
                  >Januari</a
                >
              </li>
              <li>
                <a href="#" data-month="februari" class="block px-4 py-2 hover:bg-gray-100"
                  >Februari</a
                >
              </li>
              <li>
                <a href="#" data-month="maret" class="block px-4 py-2 hover:bg-gray-100"
                  >Maret</a
                >
              </li>
              <li>
                <a href="#" data-month="april" class="block px-4 py-2 hover:bg-gray-100"
                  >April</a
                >
              </li>
              <li>
                <a href="#" data-month="mei" class="block px-4 py-2 hover:bg-gray-100"
                  >Mei</a
                >
              </li>
              <li>
                <a href="#" data-month="juni" class="block px-4 py-2 hover:bg-gray-100"
                  >Juni</a
                >
              </li>
              <li>
                <a href="#" data-month="juli" class="block px-4 py-2 hover:bg-gray-100"
                  >Juli</a
                >
              </li>
              <li>
                <a href="#" data-month="agustus" class="block px-4 py-2 hover:bg-gray-100"
                  >Agustus</a
                >
              </li>
              <li>
                <a href="#" data-month="september" class="block px-4 py-2 hover:bg-gray-100"
                  >September</a
                >
              </li>
              <li>
                <a href="#" data-month="oktober" class="block px-4 py-2 hover:bg-gray-100"
                  >Oktober</a
                >
              </li>
              <li>
                <a href="#" data-month="november" class="block px-4 py-2 hover:bg-gray-100"
                  >November</a
                >
              </li>
              <li>
                <a href="#" data-month="desember" class="block px-4 py-2 hover:bg-gray-100"
                  >Desember</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Informasi pendapatan -->
      <div class="flex items-center space-x-4">
        <div id="pendapatan-info" class="text-xl my-auto font-semibold text-customBlue">
          Rp 0,00
          <span class="text-gray-400 text-sm my-auto">• 0 Pesanan</span>
        </div>
      </div>
      <!-- Grafik -->
      <div class="relative h-44 md:h-48">
        <div id="income-chart" class="absolute inset-0"></div>
      </div>
    </div>
  </div>
  <div
    class="p-2 border-2 border-gray-200 flex h-72 rounded justify-between bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="max-w-full w-full">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-base font-semibold">Pengeluaran Bulanan</h2>
        <div class="flex space-x-2">
          <!-- Dropdown untuk waktu -->
          <button
            id="dropdownButton"
            data-week="1"
            data-dropdown-toggle="dropdown"
            class="text-sm text-gray-700 flex items-center"
          >
            Minggu ke-1
            <svg
              class="w-4 h-4 ml-1"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M5.5 7.5L10 12l4.5-4.5H5.5z"></path>
            </svg>
          </button>
          <div
            id="dropdown"
            class="hidden z-10 w-36 bg-white rounded-lg shadow"
          >
            <ul class="text-sm text-gray-700">
              <li>
                <a href="#" data-week="1" class="block px-4 py-2 hover:bg-gray-100"
                  >Minggu ke-1</a
                >
              </li>
              <li>
                <a href="#" data-week="2" class="block px-4 py-2 hover:bg-gray-100"
                  >Minggu ke-2</a
                >
              </li>
              <li>
                <a href="#" data-week="3" class="block px-4 py-2 hover:bg-gray-100"
                  >Minggu ke-3</a
                >
              </li>
              <li>
                <a href="#" data-week="4" class="block px-4 py-2 hover:bg-gray-100"
                  >Minggu ke-4</a
                >
              </li>
            </ul>
          </div>

          <!-- Dropdown untuk bulan -->
          <button
            id="monthDropdownButton"
            data-month="1"
            data-dropdown-toggle="monthDropdown"
            class="text-sm text-gray-700 flex items-center"
          >
            Januari
            <svg
              class="w-4 h-4 ml-1"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M5.5 7.5L10 12l4.5-4.5H5.5z"></path>
            </svg>
          </button>
          <div
            id="monthDropdown"
            class="hidden z-10 w-36 bg-white rounded-lg shadow"
          >
            <ul class="text-sm text-gray-700">
              <li>
                <a href="#" data-month="januari" class="block px-4 py-2 hover:bg-gray-100"
                  >Januari</a
                >
              </li>
              <li>
                <a href="#" data-month="februari" class="block px-4 py-2 hover:bg-gray-100"
                  >Februari</a
                >
              </li>
              <li>
                <a href="#" data-month="maret" class="block px-4 py-2 hover:bg-gray-100"
                  >Maret</a
                >
              </li>
              <li>
                <a href="#" data-month="april" class="block px-4 py-2 hover:bg-gray-100"
                  >April</a
                >
              </li>
              <li>
                <a href="#" data-month="mei" class="block px-4 py-2 hover:bg-gray-100"
                  >Mei</a
                >
              </li>
              <li>
                <a href="#" data-month="juni" class="block px-4 py-2 hover:bg-gray-100"
                  >Juni</a
                >
              </li>
              <li>
                <a href="#" data-month="juli" class="block px-4 py-2 hover:bg-gray-100"
                  >Juli</a
                >
              </li>
              <li>
                <a href="#" data-month="agustus" class="block px-4 py-2 hover:bg-gray-100"
                  >Agustus</a
                >
              </li>
              <li>
                <a href="#" data-month="september" class="block px-4 py-2 hover:bg-gray-100"
                  >September</a
                >
              </li>
              <li>
                <a href="#" data-month="oktober" class="block px-4 py-2 hover:bg-gray-100"
                  >Oktober</a
                >
              </li>
              <li>
                <a href="#" data-month="november" class="block px-4 py-2 hover:bg-gray-100"
                  >November</a
                >
              </li>
              <li>
                <a href="#" data-month="desember" class="block px-4 py-2 hover:bg-gray-100"
                  >Desember</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Informasi pendapatan -->
      <div class="flex items-center space-x-4">
        <div id="pengeluaran-info" class="text-xl my-auto font-semibold text-[#EE6C4D]">
          Rp 0,00
          <span class="text-gray-400 text-sm my-auto">• 0 Transaksi</span>
        </div>
      </div>
      <!-- Grafik -->
      <div class="relative h-44 md:h-48">
        <div id="expense-chart" class="absolute inset-0"></div>
      </div>
    </div>
  </div>
</div>
<div class="grid lg:grid-cols-2 gap-4 mb-4">
  <div
    class="p-2 border-2 border-gray-200 h-auto overflow-hidden flex rounded justify-between bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="w-full">
      <div class="flex items-center justify-between mb-4">
        <h3 class="flex flex-row items-center text-lg font-semibold text-gray-900 dark:text-white">
          <svg
            class="m-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <rect width="24" height="24" rx="6" fill="#EDF1FF" />
            <g clip-path="url(#clip0_7_1071)">
              <path
                d="M9.33341 14.6666H14.6667V16H9.33341V14.6666ZM9.33341 12H14.6667V13.3333H9.33341V12ZM13.3334 5.33331H8.00008C7.26675 5.33331 6.66675 5.93331 6.66675 6.66665V17.3333C6.66675 18.0666 7.26008 18.6666 7.99341 18.6666H16.0001C16.7334 18.6666 17.3334 18.0666 17.3334 17.3333V9.33331L13.3334 5.33331ZM16.0001 17.3333H8.00008V6.66665H12.6667V9.99998H16.0001V17.3333Z"
                fill="#22356F"
              />
            </g>
            <defs>
              <clipPath id="clip0_7_1071">
                <rect
                  width="16"
                  height="16"
                  fill="white"
                  transform="translate(4 4)"
                />
              </clipPath>
            </defs>
          </svg> 
          10 Barang Paling Laku
        </h3>
      </div>
      <!-- Pie Chart -->
      <div id="pie-laku"></div>
    </div>
  </div>
  <div
    class="p-2 border-2 border-gray-200 h-auto overflow-hidden flex rounded justify-between dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="w-full">
      <div class="flex items-center justify-between mb-4">
        <h3 class="flex flex-row items-center text-lg font-semibold text-gray-900 dark:text-white">
          <svg
            class="m-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <rect width="24" height="24" rx="6" fill="#EDF1FF" />
            <g clip-path="url(#clip0_7_1071)">
              <path
                d="M9.33341 14.6666H14.6667V16H9.33341V14.6666ZM9.33341 12H14.6667V13.3333H9.33341V12ZM13.3334 5.33331H8.00008C7.26675 5.33331 6.66675 5.93331 6.66675 6.66665V17.3333C6.66675 18.0666 7.26008 18.6666 7.99341 18.6666H16.0001C16.7334 18.6666 17.3334 18.0666 17.3334 17.3333V9.33331L13.3334 5.33331ZM16.0001 17.3333H8.00008V6.66665H12.6667V9.99998H16.0001V17.3333Z"
                fill="#22356F"
              />
            </g>
            <defs>
              <clipPath id="clip0_7_1071">
                <rect
                  width="16"
                  height="16"
                  fill="white"
                  transform="translate(4 4)"
                />
              </clipPath>
            </defs>
          </svg>
          10 Barang Paling Tidak Laku
        </h3>
      </div>
      <!-- Pie Chart -->
      <div id="pie-tlaku"></div>
    </div>
  </div>
</div>
<div class="grid lg:grid-cols-2 gap-4 mb-4">
  <div
    class="p-2 border-2 border-gray-200 h-auto overflow-hidden flex rounded justify-between bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="w-full">
      <div class="flex items-center justify-between mb-4">
        <h3 class="flex flex-row items-center text-lg font-semibold text-gray-900 dark:text-white">
          <svg
            class="m-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <rect width="24" height="24" rx="6" fill="#EDF1FF" />
            <g clip-path="url(#clip0_7_1071)">
              <path
                d="M9.33341 14.6666H14.6667V16H9.33341V14.6666ZM9.33341 12H14.6667V13.3333H9.33341V12ZM13.3334 5.33331H8.00008C7.26675 5.33331 6.66675 5.93331 6.66675 6.66665V17.3333C6.66675 18.0666 7.26008 18.6666 7.99341 18.6666H16.0001C16.7334 18.6666 17.3334 18.0666 17.3334 17.3333V9.33331L13.3334 5.33331ZM16.0001 17.3333H8.00008V6.66665H12.6667V9.99998H16.0001V17.3333Z"
                fill="#22356F"
              />
            </g>
            <defs>
              <clipPath id="clip0_7_1071">
                <rect
                  width="16"
                  height="16"
                  fill="white"
                  transform="translate(4 4)"
                />
              </clipPath>
            </defs>
          </svg>
          Barang Hampir Habis
        </h3>
      </div>
      <!-- Pie Chart -->
      <div id="pie-habis"></div>
    </div>
  </div>
  <div
    class="p-2 border-2 border-gray-200 h-auto overflow-hidden flex rounded justify-between bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="w-full">
      <div class="flex items-center justify-between mb-4">
        <h3 class="flex flex-row items-center text-lg font-semibold text-gray-900 dark:text-white">
          <svg
            class="m-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <rect width="24" height="24" rx="6" fill="#EDF1FF" />
            <g clip-path="url(#clip0_7_1071)">
              <path
                d="M9.33341 14.6666H14.6667V16H9.33341V14.6666ZM9.33341 12H14.6667V13.3333H9.33341V12ZM13.3334 5.33331H8.00008C7.26675 5.33331 6.66675 5.93331 6.66675 6.66665V17.3333C6.66675 18.0666 7.26008 18.6666 7.99341 18.6666H16.0001C16.7334 18.6666 17.3334 18.0666 17.3334 17.3333V9.33331L13.3334 5.33331ZM16.0001 17.3333H8.00008V6.66665H12.6667V9.99998H16.0001V17.3333Z"
                fill="#22356F"
              />
            </g>
            <defs>
              <clipPath id="clip0_7_1071">
                <rect
                  width="16"
                  height="16"
                  fill="white"
                  transform="translate(4 4)"
                />
              </clipPath>
            </defs>
          </svg>
          Top 3 Customer Paling Banyak Belanja
        </h3>
      </div>
      <!-- Pie Chart -->
      <div id="pie-customer"></div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock script %}