{% extends 'base/base_auth.html' %} 

{% block title %}Best Motor Login Page{% endblock %} 

{% block content %}
<form action="/login/" method="post" class="flex flex-col h-full justify-between">
  {% csrf_token %}
  <div class="w-full mb-6">
    <input id="username" name="username" class="w-full p-4 mb-6 border-1 border-transparent placeholder-white text-white bg-customBlue rounded-3xl text-base box-border outline-none focus:bg-[#243F6B]" type="text" placeholder="Username"/>
    <div class="relative">
      <input id="password" name="password" class="w-full p-4 border-1 border-transparent placeholder-white text-white bg-customBlue rounded-3xl text-base box-border outline-none focus:bg-[#243F6B]" type="password" placeholder="Password"/>
      <button type="button" id="togglePassword" class="absolute inset-y-0 right-3 flex items-center text-white"><i class="fa-solid fa-eye-slash"></i></button>
    </div>
  </div>
  <div class="flex justify-end">
    <button type="submit" id="loginButton" class="bg-customBlue text-white py-3 px-10 my-3 mx-0 border-none rounded-3xl text-lg cursor-pointer justify-end items-end hover:bg-[#243F6B]" type="submit">Login</button>
  </div>
</form>

{% if messages %}
  <script>
      function showWarningToast(head, msg) {
      const toast = document.getElementById("toastWarning");

      toast.innerHTML = `
        <div class="toast flex items-start p-4 bg-yellow-50 rounded-lg border border-yellow-100 shadow-lg">
            <div class="flex-shrink-0">
              <svg class="w-5 h-5 text-yellow-500" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
              </svg>
            </div>
            <div class="ml-3">
              <h3 id="toastWarnHead" class="text-sm font-medium text-yellow-800">${head}</h3>
              <p id="toastWarnPar" class="mt-1 text-sm text-yellow-600">${msg}</p>
            </div>
            <button onclick="document.getElementById('toastWarning').classList.add('hidden')"  class="ml-auto text-yellow-400 hover:text-yellow-500">
              <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
              </svg>
            </button>
        </div>
      `

      toast.classList.remove("hidden");

      if (toast.toastTimeout) clearTimeout(toast.toastTimeout);

      toast.toastTimeout = setTimeout(() => {
        toast.classList.add("hidden");
      }, 2000);
    }

    function showSuccessToast(head, msg) {
      const toast = document.getElementById("toastSuccess");

      toast.innerHTML =`
          <div class="toast flex items-start p-4 bg-green-50 rounded-lg border border-green-100 shadow-lg">
            <div class="flex-shrink-0">
              <svg class="w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.707a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 10-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
              </svg>
            </div>
            <div class="ml-3">
              <h3 id="toastScs" class="text-sm font-medium text-green-800">${head}</h3>
              <p id="toastScsp" class="mt-1 text-sm text-green-600">${msg}</p>
            </div>
            <button onclick="document.getElementById('toastSuccess').classList.add('hidden')"  class="ml-auto text-green-400 hover:text-green-500">
              <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
      `

      toast.classList.remove("hidden");

      if (toast.toastTimeout) clearTimeout(toast.toastTimeout);

      toast.toastTimeout = setTimeout(() => {
        toast.classList.add("hidden");
      }, 2000);
    }

    document.addEventListener("DOMContentLoaded", function () {
      {% for message in messages %}
        {% if message.tags == "error" %}
          showWarningToast("Login Gagal", "{{ message|escapejs }}");
        {% else %}
          showSuccessToast("Berhasil", "{{ message|escapejs }}");
        {% endif %}
      {% endfor %}
    });
  </script>
{% endif %}
{% endblock %}