{% extends 'base/base_auth.html' %} 

{% block title %}Best Motor Login Page{% endblock %} 

{% block content %}
<form action="/login/" method="post" class="flex flex-col h-full justify-between">
  {% csrf_token %}
  <div class="w-full mb-6">
    <input id="username" name="username" class="w-full p-4 mb-6 border-1 border-transparent placeholder-white text-white bg-customBlue rounded-3xl text-base box-border outline-none focus:bg-[#243F6B]" type="text" placeholder="Username"/>
    <div class="relative">
      <input id="password" name="password" class="w-full p-4 border-1 border-transparent placeholder-white text-white bg-customBlue rounded-3xl text-base box-border outline-none focus:bg-[#243F6B]" type="password" placeholder="Password"/>
      <button id="togglePassword" class="absolute inset-y-0 right-3 flex items-center text-white"><i class="fa-solid fa-eye-slash"></i></button>
    </div>
  </div>
  <div class="flex justify-end">
    <button id="loginButton" class="bg-customBlue text-white py-3 px-10 my-3 mx-0 border-none rounded-3xl text-lg cursor-pointer justify-end items-end hover:bg-[#243F6B]" type="submit">Login</button>
  </div>
</form>

{% if messages %}
  {% for message in messages %}
    <script>alert('{{ message }}')</script>
  {% endfor %}
{% endif %}
{% endblock %}