{% extends 'base/base.html' %}

{% load static %}
{% load humanize %}

{% block title %}Katalog Admin{% endblock %} 

{% block page_title %}Katalog{% endblock %} 

{% block content %}
<div class="flex items-center space-x-2">
    <span class="text-sm font-semibold">
        Link Katalog Utama : 
        <a href="/" id="linkText" class="text-customBlue">https://bestmotor/</a>
    </span>
    <div class="relative inline-block">
        <button id="copyButton" class="p-1">
            <svg class="bg-transparent" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M9 3H15C17.2091 3 19 4.79086 19 7V15" stroke="currentColor" stroke-width="2"/>
                <path d="M15 11.5C15 10.304 14.9985 9.49062 14.9288 8.87226C14.8614 8.27406 14.7408 7.98334 14.5867 7.78248C14.4803 7.64381 14.3562 7.51969 14.2175 7.41329C14.0167 7.25916 13.7259 7.13864 13.1277 7.0712C12.5094 7.00149 11.696 7 10.5 7C9.30395 7 8.49062 7.00149 7.87226 7.0712C7.27406 7.13864 6.98334 7.25916 6.78248 7.41329C6.64381 7.51969 6.51969 7.64381 6.41329 7.78248C6.25916 7.98334 6.13864 8.27406 6.0712 8.87226C6.00149 9.49062 6 10.304 6 11.5V15.5C6 16.696 6.00149 17.5094 6.0712 18.1277C6.13864 18.7259 6.25916 19.0167 6.41329 19.2175C6.51969 19.3562 6.64381 19.4803 6.78248 19.5867C6.98334 19.7408 7.27406 19.8614 7.87226 19.9288C8.49062 19.9985 9.30395 20 10.5 20C11.696 20 12.5094 19.9985 13.1277 19.9288C13.7259 19.8614 14.0167 19.7408 14.2175 19.5867C14.3562 19.4803 14.4803 19.3562 14.5867 19.2175C14.7408 19.0167 14.8614 18.7259 14.9288 18.1277C14.9985 17.5094 15 16.696 15 15.5V11.5Z" stroke="currentColor" stroke-width="2"/>
            </svg>
            <span id="copyTooltip" class="absolute transform -translate-x-1/2 bg-black text-white text-xs px-2 py-1 rounded opacity-0 transition-opacity duration-300">
                Disalin!
            </span>
        </button>
    </div>
</div>
<div
  class="flex flex-col p-2 h-auto my-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800"
>    
    <p class="ml-3 mt-2 font-semibold text-base">Data Katalog Barang</p>
    <div class="mt-4 flex flex-row justify-between">
        <div class="flex flex-col md:flex-row">
            <div class="justify-start ml-3">
                <input type="text" id="tableSearch" class="form-control rounded-lg border-gray-200 border-2 max-w-40 focus:border-customBlue lg:max-w-full" placeholder="Cari Katalog disini...">
                <button class="mr-5 bg-customBlue border-customBlue hover:bg-[#243F6B] p-2 rounded-lg text-white w-12" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="relative">
                <!-- Button Dropdown -->
                <div id="dropdownButton" class="border border-gray-300 rounded-lg p-1 items-center hidden md:flex">
                    <span class="m-1 text-gray-400">Tipe Motor : <span id="selectedTipe" class="text-customBlue font-semibold"></span></span>
                    <select id="tipe-mtr"
                        data-selected-tipe = "{{ barang.tipe|default:'' }}"
                        class="block border border-gray-300 rounded-md py-2 px-3 text-sm bg-white focus:outline-none focus:ring-customBlue focus:border-customBlue">
                        <option value="" disabled selected hidden>Pilih tipe motor</option>
                    </select>
                </div>
            </div>
        </div>
        <a href="{% url 'tambah_brgkatalog' %}" class="p-2 justify-end border-2 rounded-lg border-gray-200">
            <div class="flex flex-row justify-center items-center">
                <p class="hidden lg:block p-1 lg:text-gray-400">Tambah Katalog</p>
                <i class="fas fa-plus p-1 text-customBlue"></i>
            </div>
        </a>
    </div>

    <table id="tabelKatalog" class="display cell-border">
        <thead>
            <tr>
                <th>No</th>
                <th>Kode Barang</th>
                <th>Nama Barang</th>
                <th>Tipe Motor</th>
                <th>Harga</th>
                <th>Harga Diskon</th>
                <th>Katalog Utama</th>
                <th>Edit</th>
                <th>Hapus</th>
            </tr>
        </thead>
        <tbody>
            {% for katalog in data_katalog %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ katalog.barang.kode_barang }}</td>
                    <td>{{ katalog.barang.nama_barang }}</td>
                    <td>{{ katalog.barang.tipe }}</td>
                    <td>{{ katalog.harga_tertera|intcomma }}</td>
                    <td>{{ katalog.harga_diskon|intcomma }}</td>
                    <td class="justify-center">
                        <button id="toggleCheck" class="p-1 border-2 rounded-lg border-customBlue hover:bg-gray-200 w-8 h-8">
                            <svg id="checkIcon" class="w-5 h-5 text-green-500 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 21" fill="currentColor">
                              <path fill-rule="evenodd" d="M9 16.172l10.293-10.293-1.414-1.414L9 13.344l-4.293-4.293-1.414 1.414L9 16.172z" clip-rule="evenodd"/>
                            </svg>
                        </button>
                    </td>
                    <td><a href="{% url 'tambah_barang' id=katalog.id %}"><i class="fa-regular fa-eye text-2xl text-customBlue"></i></a></td>
                    <td><button onclick="confirmPopupBtn({{ katalog.id }})"><i class="fa-solid fa-trash-can text-2xl text-red-500"></i></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/adminkatalog.js' %}"></script>
{% endblock %}