{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Katalog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/tailwind_output.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div
      class="flex flex-row justify-between items-center text-white h-10 px-6 md:px-12 bg-customBlue"
    >
      <button onclick="window.history.back()" class="flex justify-start">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </div>
    <p class="flex items-end text-customBlue px-6 md:px-12 pt-4 h-10">
      {{ detail.tipe }}
    </p>
    <div
      class="flex justify-start items-center text-white h-16 px-6 md:px-12 bg-customBlue"
    >
      <p class="font-semibold text-2xl">{{ barang.nama_barang }}</p>
    </div>

    <div class="flex flex-col justify-center items-center px-6 md:px-12">
      <img src="{% static "images/logo.png" %}" class="w-80 h-80" />
      <div class="relative pb-5">
        <p class="text-gray-600 text-lg">{{ harga_tertera|intcomma }}</p>
        <div
          class="absolute top-4 -left-4 bg-red-500 w-28 h-[1px] transform rotate-[-10deg]"
        ></div>
      </div>
      <div class="relative pt-3">
        <p
          class="absolute -top-4 -left-9 text-red-600 font-bold text-3xl shadow- italic transform rotate-[-10deg] inline-block"
          style="text-shadow: 2px 2px black"
        >
          NOW !
        </p>
        <p class="text-orange-500 text-4xl font-bold">{{ harga_diskon|intcomma }}</p>
      </div>
    </div>
    <div class="flex flex-col items-end p-4 px-6 md:px-12">
      <div class="font-semibold text-lg">
        <p>Buy More, Save More</p>
        <p class="text-red-500">Harga Grosir? Silahkan hubungi kami!</p>
      </div>
    </div>
    <div class="pb-6 px-6 md:px-12">
      <p class="py-2 text-customBlue text-2xl font-semibold">Merk : {{ detail.merk }}</p>
      <p></p>
      <p class="py-2 text-customBlue text-2xl font-semibold">Deskripsi :</p>
      <p></p>
      <p>
        {{ deskripsi }}
      </p>
    </div>
  </body>
</html>
