{% extends 'base/base_katalog.html' %} 

{% load static %} 

{% block banner%}
<div class="mb-2"><img src="{% static 'images/banner2.png' %}" class="min-h-56 w-full" /></div>
{% endblock %} 

{% block content %}
<div class="py-3 md:py-6 bg-gray-100">
  <div class="grid px-6 md:px-12 md:grid-cols-2">
    <div class="flex flex-row shadow">
      <div
        class="flex flex-col p-5 w-[45%] md:w-[55%] bg-white justify-between items-start"
      >
        <span>
          <p class="text-gray-500 text-sm">
            | Menjaga performa mesin tetap optimal
          </p>
          <p class="text-lg">Kebutuhan Perawatan Rutin Motor Kamu</p>
        </span>
        <button class="py-3 text-customBlue">Belanja Sekarang</button>
      </div>
      <img src="{% static 'images/sparepart.png' %}" class=" w-[55%] md:w-[45%]" />
    </div>
    <div class="flex flex-row mt-3 shadow">
      <div
        class="flex flex-col p-5 w-[45%] md:w-[55%] bg-white justify-between items-start md:mt-0 md:ml-6"
      >
        <span>
          <p class="text-gray-500 text-sm">
            | Perbaikan kerusakan pada mesin motor
          </p>
          <p class="text-lg">Kebutuhan Perbaikan dan Penggantian Komponen</p>
        </span>
        <button class="py-3 text-customBlue">Belanja Sekarang</button>
      </div>
      <img src="{% static 'images/sparepart2.png' %}" class=" w-[55%] md:w-[45%]" />
    </div>
  </div>
</div>
<div class="px-6 py-2 md:px-12">
  {% for kategori, items in kategori_katalog.items %}
    <div class="py-2">
      <div class="flex flex-row justify-between items-center">
        <p class="font-semibold">Rekomendasi {{ kategori|title }}r</p>
        <div class="flex gap-4">
          <button
            id="scrollLeft{{ forloop.counter }}"
            class="bg-white text-customBlue p-2 px-3 rounded-full shadow border border-gray-300"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button
            id="scrollRight{{ forloop.counter }}"
            class="bg-white text-customBlue p-2 px-3 rounded-full shadow border border-gray-300"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div
        id="scrollContainer{{ forloop.counter }}"
        class="flex flex-row py-2 overflow-x-auto gap-4 scroll-smooth no-scrollbar"
      >
      {% for item in items %}
        <div class="flex flex-col p-2 min-w-44">
          {% if item.gambar %}
            <img
            src="{{ item.gambar }}"
            class="w-auto h-28 md:h-32 items-center"
            />
          {% else %}
            <img
            src="{% static 'images/logo.png' %}"
            class="w-auto h-28 md:h-32 items-center"
            />
          {% endif %}
          <p class="text-gray-500">{{ item.barang.nama_barang }}</p>
          <p>{{ item.barang.merk }}</p>
          <p class="py-2 font-semibold text-orange-400">{{ item.katalog.harga_diskon }}</p>
          <a
            href="{% url 'deskripsi' kategori item.barang.id %}"
            class="py-1 border rounded-md text-sm text-center text-white bg-customBlue hover:bg-[#243F6B]"
          >
            Deskripsi
          </a>
        </div>
      {% endfor %}
      </div>
    </div>
    <hr />
    <div class="py-6">
      <p class="text-lg font-semibold">Lihat Katalog Lainnya</p>
      <div class="my-4 grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="flex flex-row justify-between border shadow rounded-md">
          <div class="flex flex-col justify-between p-4 w-[45%]">
            <span>
              <p>Katalog {{ kategori|title }}</p>
              <p class="pb-2 text-gray-500 text-sm">Tersedia {{ items|length }}+ produk</p>
            </span>
            <a href="{% url 'katalogbrg' kategori %}">
              <button
                class="p-2 w-full border rounded-md text-sm text-center text-white bg-customBlue hover:bg-[#243F6B]"
              >
                Lihat Sekarang
              </button>
            </a>
          </div>
          {% with items.0 as first_item %}
            {% if first_item.gambar %}
              <img src="{{ first_item.gambar }}" class="w-[55%] h-auto" />
            {% else %}
              <img src="{% static 'images/logo.png' %}" class="w-[55%] h-auto" />
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/katalog.js' %}"></script>
{% endblock %}