{% extends 'base/base_katalog.html' %}
{% load humanize %}
{% load static %}
{% load humanize %}

{% block banner %}
<div class="catalog-banner bg-customBlue px-6 md:px-12 py-6 text-white">
    <p class="text-2xl font-bold">Katalog {{ title|title }}</p>
    <span class="flex flex-row mt-4 text-sm">
        <a href="{% url 'katalog' %}" class="font-medium text-gray-200 hover:underline">Beranda ></a>
        <p class="ml-1 text-gray-200">Tipe Motor ></p>
        <p class="ml-1 text-gray-200">{{ title|title }}</p>
    </span>
</div>
{% endblock %}

{% block content %}
<div class="px-6 py-5 md:px-12">
    <div class="py-2">
      <div class="catalog-tipe-title flex flex-row justify-between items-center">
        <p class="font-semibold">Rekomendasi {{ title|title }}</p>
        <div class="flex gap-4">
          <button
            id="scrollLeft"
            class="bg-white text-customBlue p-2 px-3 rounded-full shadow border border-gray-300"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button
            id="scrollRight"
            class="bg-white text-customBlue p-2 px-3 rounded-full shadow border border-gray-300"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div
        id="scrollContainer"
        class="flex flex-row py-2 overflow-x-auto gap-5 scroll-smooth no-scrollbar"
      >
      {% for item in items %}
        <div class="catalog-item flex flex-col justify-between p-2 min-w-44 border shadow rounded-md">
          {% if item.gambar %}
            <img src="{{ item.gambar }}" class="w-40 h-28 md:h-32 items-center" />
          {% else %}
            <img src="{% static 'images/logo.png' %}" class="w-40 h-28 md:h-32 items-center" />
          {% endif %}
          <p class="catalog-merk text-gray-500">{{ item.tipe }}</p>
          <p class="catalog-name max-w-40 whitespace-normal">{{ item.nama }}</p>
          <p class="py-2 font-semibold text-orange-400">Rp {{ item.harga_diskon|floatformat:0|intcomma }},-</p>
          {% if item.katalog_id %}
            <button
              onclick="window.location.href='{% url 'deskripsi' item.katalog_id %}'"
              class="py-1 border rounded-md text-sm text-center text-white bg-customBlue hover:bg-[#243F6B]">
              Deskripsi
            </button>
          {% else %}
            <button
              disabled
              class="py-1 border rounded-md text-sm text-center text-gray-400 bg-gray-200 cursor-not-allowed">
              Tidak Ada Deskripsi
            </button>
          {% endif %}
        </div>
      {% endfor %}
      </div>
      <div class="pt-5">
        <!-- Pagination -->
          <div class="flex justify-center mt-4 space-x-2">
            <button id="prevPage" class="bg-white text-customBlue p-2 px-3 rounded-full shadow border-gray-300"><i class="fa-solid fa-arrow-left"></i></button>
            <span id="pageNumbers" class="flex"></span>
            <button id="nextPage" class="bg-white text-customBlue p-2 px-3 rounded-full shadow border-gray-300"><i class="fa-solid fa-arrow-right"></i></button>
          </div>
      </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
  window.allItems = JSON.parse('{{ all_items|escapejs }}')
</script>
<script src="{% static 'js/katalogbrg.js' %}"></script>
{% endblock %}