{% extends 'base/base.html' %}
{% load static %}

{% block csrf %}
  <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}Tambah Barang Katalog{% endblock %} 

{% block page_title %}Katalog{% endblock %} 

{% block content %}
<div class="flex flex-col p-3 mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800">
    <div class="flex flex-row justify-between mb-3">
        <h2 class="text-lg font-semibold">Detail Katalog</h2>
        <button type="button" onclick="window.history.back()"><i class="fa-solid fa-x w-8 text-gray-500"></i></button>
      </div>
    <hr class="border-gray-300 pb-3">
    <form class="grid grid-cols-1 md:grid-cols-2 gap-6" id="formKatalog" data-katalog-id="{{ katalog.id|default:"" }}">
        <input type="hidden" id="katalogId" value="{{ katalog.id|default:"" }}">
        <!-- Kode Barang -->
        <div class="relative">
            <input type="hidden" name="barang" id="barangId" value="{{ barang.id|default:"" }}">
            <label for="kode-brg" class="block text-sm font-medium text-gray-700">Kode Barang</label>
            
            <!-- Input untuk pencarian -->
            <input type="text" id="searchKode" placeholder="Masukkan Kode barang" value="{{ barang.kode_barang|default:"" }}"
                class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm bg-white focus:outline-none focus:ring-customBlue focus:border-customBlue">
            
            <!-- Dropdown List -->
            <ul id="dropdownList" class="absolute w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg hidden z-50 max-h-40 overflow-y-auto">   </ul>

            <p id="warningText" class="text-sm text-red-600 hidden mt-1">
              Barang dengan kode ini sudah ada di katalog.
            </p>
        </div>

        <!-- Nama Barang -->
        <div>
            <label for="nama-brg" class="block text-sm font-medium text-gray-700">Nama Barang</label>
            <input type="text" id="nama-brg" value="{{ barang.nama_barang|default:"" }}" disabled
              class="mt-1 block w-full border bg-gray-200 border-gray-300 rounded-md py-2 px-3 text-sm text-gray-400">
          </div>
        
        <!-- Tipe Motor -->
        <div>
            <label for="tipe-mtr" class="block text-sm font-medium text-gray-700">Tipe Motor</label>
            <input type="text" id="tipe-mtr" value="{{ barang.tipe|default:"" }}" disabled
              class="mt-1 block w-full border bg-gray-200 border-gray-300 rounded-md py-2 px-3 text-sm text-gray-400">
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Harga Tertera-->
            <div>
            <label for="hrgbrg" class="block text-sm font-medium text-gray-700">Harga Barang</label>
                <input type="number" id="hrgbrg" name="harga_tertera" placeholder="Masukkan harga barang" value="{{ katalog.harga_tertera|default:"" }}"
                    class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-700">
            </div>

            <!-- Harga Setelah Diskon -->
            <div>
                <label for="hrgdsc" class="block text-sm font-medium text-gray-700">Harga Setelah Diskon</label>
                <input type="number" id="hrgdsc" name="harga_diskon" placeholder="Masukkan harga barang setelah diskon" value="{{ katalog.harga_diskon|default:"" }}"
                    class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-700">
            </div>
        </div>

        <!-- Gambar Pelengkap -->
        <div>
            <span class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Upload Gambar Katalog</span>
            <label for="upload_gambar" class="cursor-pointer block mb-1">
              <div class="flex items border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                  <div class="flex-grow items-center justify-between px-3 py-2">
                    <span id="placeholder" class="text-sm text-gray-500 dark:text-gray-300">
                    Upload Gambar ({{ katalog.promosi_barang.count|default:0 }}/5)
                    </span>
                    <div id="previewDiv" style="display: flex; flex-wrap: wrap;">
                      {% for img in katalog.promosi_barang.all %}
                        <img id="previewGambar" src="{{ img.gambar_pelengkap.url|default:""}}" alt="Preview" style="max-width: 120px; display: block; margin: 2px;">
                      {% empty %}
                      {% endfor %}
                    </div>
                  </div>
                  <label for="upload_gambar" class="cursor-pointer px-4 py-2 text-gray-700 rounded-r-lg dark:bg-gray-600 dark:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M12 14L11.6464 14.3536L12 14.7071L12.3536 14.3536L12 14ZM12.5 5C12.5 4.72386 12.2761 4.5 12 4.5C11.7239 4.5 11.5 4.72386 11.5 5L12.5 5ZM6.64645 9.35355L11.6464 14.3536L12.3536 13.6464L7.35355 8.64645L6.64645 9.35355ZM12.3536 14.3536L17.3536 9.35355L16.6464 8.64645L11.6464 13.6464L12.3536 14.3536ZM12.5 14L12.5 5L11.5 5L11.5 14L12.5 14Z" fill="#222222"/>
                      <path d="M5 16L5 17C5 18.1046 5.89543 19 7 19L17 19C18.1046 19 19 18.1046 19 17V16" stroke="#222222"/>
                      </svg>
                  </label>
                  <input type="file" id="upload_gambar" class="hidden" multiple>
              </div>
            </label>
        </div>
        
        <div>
            <p>Tampilkan pada Katalog Utama</p>
            <button type="button" id="toggleCheck" class="p-1 mt-1 border-2 rounded-lg border-customBlue hover:bg-gray-200 w-8 h-8">
                <svg id="checkIcon" class="w-5 h-5 text-green-500 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 21" fill="currentColor">
                  <path fill-rule="evenodd" d="M9 16.172l10.293-10.293-1.414-1.414L9 13.344l-4.293-4.293-1.414 1.414L9 16.172z" clip-rule="evenodd"/>
                </svg>
            </button>
            <input type="hidden" name="is_katalog_utama" id="isKatalogUtama" value="{{ katalog.is_katalog_utama|default:"false" }}">
        </div>
        <div class="md:col-span-2 flex justify-end">
          <button type="submit" id="submitBtn" class="mt-5 ml-auto text-center">
            <p class="text-sm font-medium text-gray-700">Simpan</p>
            <i class="mt-1 fa-regular fa-floppy-disk text-2xl text-customBlue"></i>
          </button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/tambahkatalog.js' %}"></script>
{% endblock %}