{% extends 'base/base.html' %}
{% load static %}

{% block csrf %}
  <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}Tambah Barang Katalog{% endblock %} 

{% block page_title %}Katalog{% endblock %} 

{% block content %}
<div class="flex flex-col p-3 mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800">
    <div class="flex flex-row justify-between mb-3">
        <h2 class="text-lg font-semibold">Detail Katalog</h2>
        <button type="button" onclick="window.history.back()"><i class="fa-solid fa-x w-8 text-gray-500"></i></button>
      </div>
    <hr class="border-gray-300 pb-3">
    <form class="grid grid-cols-1 md:grid-cols-2 gap-6" id="formKatalog">
        <input type="hidden" id="katalogId" value="{{ katalog.id|default:"" }}">
        <!-- Kode Barang -->
        <div class="relative">
            <label for="kode-brg" class="block text-sm font-medium text-gray-700">Kode Barang</label>
            
            <!-- Input untuk pencarian -->
            <input type="text" id="searchKode" placeholder="Masukkan Kode barang" value="{{ katalog.barang.kode_barang|default:"" }}"
                class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm bg-white focus:outline-none focus:ring-customBlue focus:border-customBlue">
            
            <!-- Dropdown List -->
            <ul id="dropdownList" class="absolute w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg hidden z-50 max-h-40 overflow-y-auto">   </ul>
        </div>

        <!-- Nama Barang -->
        <div>
            <label for="nama-brg" class="block text-sm font-medium text-gray-700">Nama Barang</label>
            <input type="text" id="nama-brg" value="{{ katalog.barang.nama_barang|default:"" }}" disabled
              class="mt-1 block w-full border bg-gray-200 border-gray-300 rounded-md py-2 px-3 text-sm text-gray-400">
          </div>
        
        <!-- Tipe Motor -->
        <div>
            <label for="tipe-mtr" class="block text-sm font-medium text-gray-700">Tipe Motor</label>
            <input type="text" id="tipe-mtr" value="{{ katalog.barang.detailbarang.tipe|default:"" }}" disabled
              class="mt-1 block w-full border bg-gray-200 border-gray-300 rounded-md py-2 px-3 text-sm text-gray-400">
          </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Harga Tertera-->
            <div>
            <label for="hrgbrg" class="block text-sm font-medium text-gray-700">Harga Barang</label>
                <input type="number" id="hrgbrg" placeholder="Masukkan harga barang" value="{{ katalog.harga_tertera|default:"" }}"
                    class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-700">
            </div>

            <!-- Harga Setelah Diskon -->
            <div>
                <label for="hrgdsc" class="block text-sm font-medium text-gray-700">Harga Setelah Diskon</label>
                <input type="number" id="hrgdsc" placeholder="Masukkan harga barang setelah diskon" value="{{ katalog.harga_diskon|default:"" }}"
                    class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-700">
            </div>
        </div>
        <div>
            <p>Tampilkan pada Katalog Utama</p>
            <button type="button" id="toggleCheck" class="p-1 mt-1 border-2 rounded-lg border-customBlue hover:bg-gray-200 w-8 h-8">
                <svg id="checkIcon" class="w-5 h-5 text-green-500 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 21" fill="currentColor">
                  <path fill-rule="evenodd" d="M9 16.172l10.293-10.293-1.414-1.414L9 13.344l-4.293-4.293-1.414 1.414L9 16.172z" clip-rule="evenodd"/>
                </svg>
            </button>
            <input type="hidden" name="is_katalog_utama" id="isKatalogUtama" value"false">
        </div>
      
      <button type="submit" class="mt-5 ml-auto text-center">
        <p class="text-sm font-medium text-gray-700">Simpan</p>
        <i class="mt-1 fa-regular fa-floppy-disk text-2xl text-customBlue"></i>
      </button>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/tambahkatalog.js' %}"></script>
{% endblock %}