{% extends 'base.html' %}

{% block title %}Katalog Admin{% endblock %} 

{% block page_title %}Katalog{% endblock %} 

{% block content %}
<div class="flex items-center space-x-2">
    <span class="text-sm font-semibold">
        Link Katalog Utama : 
        <a href="/" id="linkText" class="text-customBlue">https://bestmotor/</a>
    </span>
    <div class="relative inline-block">
        <button id="copyButton" class="p-1">
            <svg class="bg-transparent" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M9 3H15C17.2091 3 19 4.79086 19 7V15" stroke="currentColor" stroke-width="2"/>
                <path d="M15 11.5C15 10.304 14.9985 9.49062 14.9288 8.87226C14.8614 8.27406 14.7408 7.98334 14.5867 7.78248C14.4803 7.64381 14.3562 7.51969 14.2175 7.41329C14.0167 7.25916 13.7259 7.13864 13.1277 7.0712C12.5094 7.00149 11.696 7 10.5 7C9.30395 7 8.49062 7.00149 7.87226 7.0712C7.27406 7.13864 6.98334 7.25916 6.78248 7.41329C6.64381 7.51969 6.51969 7.64381 6.41329 7.78248C6.25916 7.98334 6.13864 8.27406 6.0712 8.87226C6.00149 9.49062 6 10.304 6 11.5V15.5C6 16.696 6.00149 17.5094 6.0712 18.1277C6.13864 18.7259 6.25916 19.0167 6.41329 19.2175C6.51969 19.3562 6.64381 19.4803 6.78248 19.5867C6.98334 19.7408 7.27406 19.8614 7.87226 19.9288C8.49062 19.9985 9.30395 20 10.5 20C11.696 20 12.5094 19.9985 13.1277 19.9288C13.7259 19.8614 14.0167 19.7408 14.2175 19.5867C14.3562 19.4803 14.4803 19.3562 14.5867 19.2175C14.7408 19.0167 14.8614 18.7259 14.9288 18.1277C14.9985 17.5094 15 16.696 15 15.5V11.5Z" stroke="currentColor" stroke-width="2"/>
            </svg>
            <span id="copyTooltip" class="absolute transform -translate-x-1/2 bg-black text-white text-xs px-2 py-1 rounded opacity-0 transition-opacity duration-300">
                Disalin!
            </span>
        </button>
    </div>
</div>
<div
  class="flex flex-col p-2 h-auto my-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800"
>    
    <p class="ml-3 mt-2 font-semibold text-base">Data Katalog Barang</p>
    <div class="mt-4 flex flex-row justify-between">
        <div class="flex justify-between md:flex-row">
            <div class="justify-start ml-3">
                <input type="text" id="tableSearch" class="form-control rounded-lg border-gray-200 border-2 max-w-40 focus:border-customBlue lg:max-w-full" placeholder="Cari Barang disini...">
                <button class="mr-5 bg-customBlue border-customBlue hover:bg-[#243F6B] p-2 rounded-lg text-white w-12" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="relative">
                <!-- Button Dropdown -->
                <div id="dropdownButton" class="border border-gray-300 rounded-lg p-2 flex justify-between items-center cursor-pointer">
                    <span class="text-gray-400">Kategori: <span id="selectedCategory" class="text-customBlue font-semibold">Kelistrikan</span></span>
                    <svg id="dropdownIcon" class="ml-2 w-5 h-5 text-black transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </div>
            
                <!-- Menu Dropdown -->
                <ul id="dropdownMenu" class="absolute w-full mt-1 bg-gray-200 border border-gray-300 rounded-lg shadow-lg hidden z-50">
                    <li class="p-2 hover:bg-gray-100 cursor-pointer" onclick="selectCategory('Kelistrikan')">Kelistrikan</li>
                    <li class="p-2 hover:bg-gray-100 cursor-pointer" onclick="selectCategory('Mesin')">Mesin</li>
                    <li class="p-2 hover:bg-gray-100 cursor-pointer" onclick="selectCategory('Sparepart')">Sparepart</li>
                </ul>
            </div>
        </div>
        <a href="{% url 'tambah_brgkatalog' %}" class="p-2 justify-end border-2 rounded-lg border-gray-200">
            <div class="flex flex-row justify-center items-center">
                <p class="hidden lg:block p-1 lg:text-gray-400">Tambah Katalog</p>
                <i class="fas fa-plus p-1 text-customBlue"></i>
            </div>
        </a>
    </div>

    <table id="tabelKatalog" class="display cell-border">
        <thead>
            <tr>
                <th>No</th>
                <th>Kode Barang</th>
                <th>Nama Barang</th>
                <th>Kategori</th>
                <th>Harga</th>
                <th>Harga Diskon</th>
                <th>Katalog Utama</th>
                <th>Edit</th>
                <th>Hapus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>BM.001.001</td>
                <td>Rem Motor Vario</td>
                <td>Rem</td>
                <td>55.000,-</td>
                <td>55.000,-</td>
                <td class="justify-center">
                    <button id="toggleCheck" class="p-1 border-2 rounded-lg border-customBlue hover:bg-gray-200 w-8 h-8">
                        <svg id="checkIcon" class="w-5 h-5 text-green-500 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 21" fill="currentColor">
                          <path fill-rule="evenodd" d="M9 16.172l10.293-10.293-1.414-1.414L9 13.344l-4.293-4.293-1.414 1.414L9 16.172z" clip-rule="evenodd"/>
                        </svg>
                    </button>
                </td>
                <td><a href="{% url 'tambah_barang' %}"><i class="fa-regular fa-eye text-2xl text-customBlue"></i></a></td>
                <td><button><i class="fa-solid fa-trash-can text-2xl text-red-500"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById("toggleCheck").addEventListener("click", function () {
      document.getElementById("checkIcon").classList.toggle("hidden");
    });

    {% comment %} copy link {% endcomment %}
    document.getElementById("copyButton").addEventListener("click", function () {
        const linkText = document.getElementById("linkText").textContent;
        navigator.clipboard.writeText(linkText).then(() => {
            const tooltip = document.getElementById("copyTooltip");
            tooltip.classList.remove("opacity-0");
            setTimeout(() => {
                tooltip.classList.add("opacity-0");
            }, 1500);
        }).catch(err => {
            console.error("Gagal menyalin teks: ", err);
        });
    });

    {% comment %} dropdown kategori {% endcomment %}
    const dropdownButton = document.getElementById("dropdownButton");
    const dropdownMenu = document.getElementById("dropdownMenu");
    const dropdownIcon = document.getElementById("dropdownIcon");

    dropdownButton.addEventListener("click", function () {
        dropdownMenu.classList.toggle("hidden");
        dropdownIcon.classList.toggle("rotate-180");
    });

    function selectCategory(category) {
        document.getElementById("selectedCategory").textContent = category;
        dropdownMenu.classList.add("hidden");
        dropdownIcon.classList.remove("rotate-180");
    }

    // Menutup dropdown jika klik di luar
    document.addEventListener("click", function (event) {
        if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
            dropdownMenu.classList.add("hidden");
            dropdownIcon.classList.remove("rotate-180");
        }
    });

    {% comment %} tabel katalog {% endcomment %}
    $(document).ready(function () {
        let table = $('#tabelKatalog').DataTable({
            pageLength: 20,
            lengthChange: false, // Hilangkan "Show entries"
            autoWidth: false,
            ordering: false,
            scrollX: true,
            responsive: true,
            "columnDefs": [
          { className: "text-center", targets: [-1, -2, -3] } // isi field di tengah
      ],
        });
        $('.dt-search').remove();
        $('.dt-info').remove();

        $('#tableSearch').on('keyup', function () { //search
          let searchValue = $(this).val();
          table.search(searchValue).draw();
        });
      });
</script>
{% endblock %}