{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind_output.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <style>
      /* Hapus efek autofill pada input */
      input:-webkit-autofill{
        -webkit-text-fill-color: white !important;
        transition: background-color 5000s ease-in-out 0s;
      }
      
      /* Atur juga untuk input yang terkena autofill */
      input:-webkit-autofill {
          caret-color: white !important;
      }
    </style>
  </head>
  <body>
    <div class="flex flex-col w-full max-h-screen md:max-w-screen md:max-h-screen md:h-screen md:flex-row">
      {% comment %} Left {% endcomment %}
      <div class="bg-white overflow-hidden w-1/4 h-auto hidden md:flex">
        <img class="w-full object-cover top-0 left-0 scale-110"
          src="{% static 'images/engine.png' %}"
          alt="car engine"
        />
      </div>
      {% comment %} Right {% endcomment %}
      <div class="flex flex-col h-screen bg-white p-8 md:w-3/4 md:h-auto">
        <div class="flex">
          <img class="w-24 h-24 object-contain" src="{% static 'images/logo.png' %}" alt="logo" />
          <div class="flex flex-col justify-center">
            <h1 class="mt-0 mr-0 mb-0 ml-3 text-3xl font-bold">Welcome back!</h1>
            <p class="my-0 ml-3 text-base">Your Needs, Our Priority</p>
          </div>
        </div>
        <p class="mx-0 mt-5 mb-10">
          Demi keamanan, jangan pernah membagikan password anda kepada siapapun.
        </p>
        <form class="flex flex-col h-full justify-between" action="#">
          {% block content %}{% endblock %}
        </form>
      </div>
    </div>
    <script>
      document.getElementById("togglePassword").addEventListener("click", function () {
        const passwordInput = document.getElementById("password");
        const icon = this.querySelector("i");
        
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.replace("fa-eye-slash", "fa-eye");
        } else {
            passwordInput.type = "password";
            icon.classList.replace("fa-eye", "fa-eye-slash");
        }
      });

      document.getElementById("loginButton").addEventListener("click", login);

      document.getElementById("username").addEventListener("input", hideError);
      document.getElementById("password").addEventListener("input", hideError);

      // Event listener untuk menekan Enter
      document.addEventListener("keydown", function (event) {
          if (event.key === "Enter") {
            event.preventDefault(); // Mencegah toggle password
            login();
          }
      });

      // Login validation
      function login() {
        const username = document.getElementById("username").value.trim();
        const password = document.getElementById("password").value.trim();
        const errorMessage = document.getElementById("error-message");
    
        // Data login yang benar
        const validUser = "admin";
        const validPass = "1234";
    
        if (username === validUser && password === validPass) {
            console.log("Login Berhasil!");
            window.location.href = "/"; // Redirect ke halaman utama
        } else if (username === "" || password === "") {
            errorMessage.classList.remove("hidden");
            errorMessage.innerText = "Username dan password harus diisi!";
        } else {
            errorMessage.classList.remove("hidden");
            errorMessage.innerText = "Username atau password salah!";
        }
    }

    function hideError() {
      document.getElementById("error-message").classList.add("hidden");
    }
  </script>
  </body>
</html>
