{% extends 'base.html' %}

{% block title %}Pesanan{% endblock %} 

{% block page_title %}Pesanan{% endblock %} 

{% block style %} 
<style>
    #dt-length-0{
        width:55px
    }
    #dt-search-0{
        width: 200px
    }
    /* Hapus efek warna biru pada row yang dipilih */
    table.dataTable tbody tr.selected * {
        background-color: transparent !important;
        box-shadow: none !important;
        color: inherit !important;
    }
    table.dataTable.hover tbody  tr.selected:hover  *, 
    table.dataTable.display  tbody  tr.selected:hover  * {
        background-color: transparent !important;
        box-shadow: none !important;
    }
    [type=checkbox]:checked, [type=radio]:checked {
      background-color: #3D5A80; /* Ubah warna latar belakang */
  }
</style>
{% endblock %}

{% block content %}
<div class="grid md:grid-cols-2 gap-4 mb-6">
    <div
      class="p-2 border-2 border-gray-200 flex h-24 rounded-md justify-between bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="flex flex-col justify-between">
        <p class="*:dark:text-gray-500 text-base font-semibold lg:text-sm">
          Pesanan Tertunda
        </p>
        <div>
          <p class="*:dark:text-gray-500 text-sm lg:text-xs">Total Pesanan</p>
          <p
            class="*:dark:text-gray-500 text-customBlue text-lg font-bold lg:text-xl"
          >
            {{ total_pending }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="p-2 border-2 border-gray-200 flex h-24 rounded-md justify-between bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="flex flex-col justify-between">
        <p class="*:dark:text-gray-500 text-base font-semibold lg:text-sm">
          Pesanan Siap Kirim
        </p>
        <div>
          <p class="*:dark:text-gray-500 text-sm lg:text-xs">Total Pesanan</p>
          <p
            class="*:dark:text-gray-500 text-customBlue text-lg font-bold lg:text-xl"
          >
            {{ total_ready }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-3 justify-start mb-3">
    <a href="{% url 'pesanan' %}" class="p-2 border-2 border-gray-200 rounded-md text-sm focus:text-white focus:bg-customBlue focus:border-customBlue">
        Semua Pesanan
    </a>
    <a href="{% url 'pesanan_tunda' status='pending' %}" class="p-2 border-2 border-gray-200 rounded-md text-sm focus:text-white focus:bg-customBlue focus:border-customBlue">
        Pesanan Tertunda
    </a>
    <a href="{% url 'pesanan_ready' status='ready' %}" class="p-2 border-2 border-gray-200 rounded-md text-sm focus:text-white focus:bg-customBlue focus:border-customBlue">
        Pesanan Siap Kirim
    </a>
  </div>
  <div
  class="flex flex-col p-2 h-auto mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800"
>
    <p class="ml-3 mt-2 font-bold text-base text-customBlue">{{ halaman }}</p>
    <div class="mt-4 ml-3 flex flex-row justify-between">
        <div class="justify-start">
            <input type="text" id="tableSearch" class="form-control rounded-lg border-gray-200 border-2 max-w-40 focus:border-customBlue lg:max-w-full" placeholder="Cari pesanan disini...">
            <button class="bg-customBlue border-customBlue hover:bg-[#243F6B] p-2 rounded-lg text-white w-12" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        {% if status == 'ready' or status == 'pending' %}
          <a href="{% url 'tambah_pesanan' %}" class="p-2 justify-end border-2 rounded-lg border-gray-200">
              <div class="flex flex-row justify-center items-center">
                  <p class="hidden lg:block p-1 lg:text-gray-400">Tambah Pesanan</p>
                  <i class="fas fa-plus p-1 text-customBlue"></i>
              </div>
          </a>
        {% else %}
          <a href="#" class="p-2 justify-end border-2 rounded-lg border-gray-200">
            <div class="flex flex-row justify-center items-center">
                <p class="hidden lg:block p-1 lg:text-gray-400">Pesanan Terkirim</p>
                <i class="fas fa-plus p-1 text-customBlue"></i>
            </div>
        </a>
        {% endif %}
    </div>
    {% if request.path == '/pesanan/' %}
    <table id="allpesanan" class="display cell-border">
        <thead>
            <tr>
                <th>No</th>
                <th>No Pesanan</th>
                <th>Tanggal Pesanan</th>
                <th>Nama Pembeli</th>
                <th>Lokasi Pembeli</th>
                <th>Nama Sales</th>
                <th>Total</th>
                <th>Status</th>
                <th>Edit</th>
                <th>{{ action }}</th>
            </tr>
        </thead>
        <tbody>
          {% for pesanan in pesanan_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ pesanan.detail_faktur.no_faktur }}</td>
                <td>{{ pesanan.detail_faktur.created_at }}</td>
                <td>{{ pesanan.customer.nama }}</td>
                <td>{{ pesanan.customer.lokasi }}</td>
                <td>{{ pesanan.sales.name }}</td>
                <td>{{ pesanan.total }}</td>
                <td>{{ pesanan.status }}</td>
                <td><button><i class="fa-regular fa-eye text-2xl text-customBlue"></i></button></td>
                <td><button><i class="fa-regular {{icon}} text-2xl {{iconcolor}}"></i></button></td>
              </tr>
          {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.datatables.net/select/3.0.0/js/dataTables.select.js"></script>
<script src="https://cdn.datatables.net/select/3.0.0/js/select.dataTables.js"></script>
<script>
  {% comment %} tabel {% endcomment %}

  $(document).ready(function () {
    let table = $('#pesananTunda').DataTable({
        pageLength: 20,
        lengthChange: false, // Hilangkan "Show entries"
        ordering: false,
        scrollX: true,
        select: {
          style: 'multi',
          selector: 'td:first-child',
      },
        "columnDefs": [
      { className: "text-center", targets: [-1, -2] }, // kolom 8 dan 9 di tengah
      {
        orderable: false,
        render: DataTable.render.select(),
        targets: 0
    }
  ],
    });
    $('.dt-search').remove();
    $('.dt-info').remove();

    $('#tableSearch').on('keyup', function () { //search
      let searchValue = $(this).val();
      table.search(searchValue).draw();
    });
  });

  function showModalConfirm(actionType, callback) {
    const modal = document.getElementById("popupModalConfirm");
    modal.classList.remove("hidden"); // Tampilkan modal
    modal.style.display = "flex"; // Pastikan tampil dengan flexbox

    const confirmTitle = document.getElementById("confirmTitle");
    const confirmMessage = document.getElementById("confirmMessage");
    const confirmButton = document.getElementById("confirmAction");

    if (actionType === "delete") {
        confirmTitle.innerText = "Konfirmasi Hapus";
        confirmMessage.innerText = "Apakah Anda yakin ingin menghapus pesanan ini?";
        confirmButton.innerText = "Hapus";
        confirmButton.classList.replace("bg-green-500", "bg-red-500");
        confirmButton.classList.replace("hover:bg-green-600", "hover:bg-red-600");
    } else if (actionType === "accept") {
        confirmTitle.innerText = "Konfirmasi Terima";
        confirmMessage.innerText = "Apakah Anda yakin ingin menerima pesanan yang terpilih?";
        confirmButton.innerText = "Terima";
        confirmButton.classList.replace("bg-red-500", "bg-green-500");
        confirmButton.classList.replace("hover:bg-red-600", "hover:bg-green-600");
    } else if (actionType === "sent") {
      confirmTitle.innerText = "Konfirmasi Pesanan Terkirim";
      confirmMessage.innerText = "Apakah Anda yakin pesanan terpilih sudah terkirim?";
      confirmButton.innerText = "Iya";
      confirmButton.classList.replace("bg-red-500", "bg-green-500");
      confirmButton.classList.replace("hover:bg-red-600", "hover:bg-green-600");
  }

    confirmButton.onclick = function () {
        callback(); // Jalankan fungsi yang diberikan
        closeModalConfirm();
    };
}

function closeModalConfirm() {
    const modal = document.getElementById("popupModalConfirm");
    modal.classList.add("hidden"); // Sembunyikan modal
    modal.style.display = "none"; // Pastikan modal benar-benar hilang
}

function confirmPopupBtn(action) {
  showModalConfirm(action, function () {
      if (action === "delete") {
          console.log("Pesanan dihapus!");
      } else if (action === "accept") {
          console.log("Pesanan diterima!");
      } else if (action === "sent") {
        console.log("Pesanan terkirim!");
    }
  });
}
</script>
{% endblock %}
