{% extends 'base_auth.html' %}

{% block title %}Best Motor Register Page{% endblock %}

{% block content %}
<div class="w-full mb-6">
    <input class="w-full p-4 border-1 border-transparent bg-slate-200 rounded-3xl text-base box-border outline-none" type="text" placeholder="Username" required />
  </div>
  <div class="w-full mb-6">
    <input class="w-full p-4 border-1 border-transparent bg-slate-200 rounded-3xl text-base box-border outline-none" type="password" placeholder="Email" required />
  </div>
  <div class="w-full mb-6">
    <input class="w-full p-4 border-1 border-transparent bg-slate-200 rounded-3xl text-base box-border outline-none" type="password" placeholder="Password" required />
  </div>
    <div class="flex justify-between">
      <p class="mb-10">Sudah punya akun?<br /><a class="text-customBlue font-semibold no-underline hover:text-blue-800" href="/login">Login</a></p>
    </div>
    <div class="flex-grow"></div>
    <div class="flex justify-end">
      <button class="bg-customBlue text-white py-3 px-10 my-3 mx-0 border-none rounded-3xl text-lg cursor-pointer justify-end items-end hover:bg-blue-800" type="submit">Register</button>
    </div>
{% endblock %}