{% extends 'base.html' %}

{% block title %}{% if request.path == '/barang/masuk/tambah/'%}Tambah Transaksi Masuk{% else %}Tambah Transaksi Keluar{% endif %}{% endblock %}

{% block page_title %}Barang{% endblock %} 

{% block content %}
<div class="flex flex-col p-3 mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800">
  <div class="flex flex-row justify-between mb-3">
    <h2 class="text-lg font-semibold">{% if request.path == '/barang/masuk/tambah/'%}Detail Transaksi Masuk{% else %}Detail Transaksi Keluar{% endif %}</h2>
    <button onclick="window.history.back()"><i class="fa-solid fa-x w-8 text-gray-500"></i></button>
  </div>
    <hr class="border-gray-300 pb-3">
    <form class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <!-- No Bukti -->
        <div>
          <label for="no-bukti" class="block text-sm font-medium text-gray-700">No Bukti</label>
          <input type="text" id="no-bukti" placeholder="AUTO" value="" disabled
            class="mt-1 block w-full bg-gray-200 border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-400">
        </div>
        
        <!-- Tanggal -->
        <div>
          <label for="tanggal" class="block text-sm font-medium text-gray-700">Tanggal</label>
          <input type="text" id="tanggal" placeholder="AUTO" value="" disabled
            class="mt-1 block w-full bg-gray-200 border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-400">
        </div>

        <!-- Keterangan -->
        <div class="md:col-span-3">
          <label for="keterangan" class="block text-sm font-medium text-gray-700">Keterangan</label>
          <textarea id="keterangan" rows="3" placeholder="Masukkan keterangan"
            class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-customBlue focus:border-customBlue"></textarea>
        </div>
      </form>
</div>
<div class="flex flex-col p-3 mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800">
    <h2 class="text-lg font-semibold pb-3">Detail Barang</h2>
    <hr class="border-gray-300">
    <table id="detailBrg" class="display cell-border">
        <thead>
            <tr>
                <th>No</th>
                <th>Kode Brg</th>
                <th>Nama Brg</th>
                <th>Qty</th>
                <th>Simpan</th>
                <th>Hapus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                  <select id="kodebrg-dropdown"></select>
                </td>
                <td id="namaBrg">
                  -
                </td>
                <td><input type="number" value="1" id="input_qtybrg" class="w-full rounded-md border-gray-300" /></td>
                <td><button><i class="fa-regular fa-floppy-disk text-2xl text-customBlue"></i></button></td>
                <td><button><i class="fa-regular fa-trash-can text-2xl text-red-500"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}