{% extends 'base.html' %}

{% block title %}Tambah Pesanan{% endblock %}

{% block page_title %}Pesanan{% endblock %} 

{% block content %}
<!-- Overlay & Modal -->
<div id="popupModal" class="fixed inset-0 hidden items-center justify-center z-50 bg-gray-500/50">
  <div class="bg-white w-full p-6 rounded-lg shadow-lg flex flex-col md:w-1/2">
    <div
    class="flex flex-col p-2 h-auto mb-4 rounded border-2 border-gray-200 bg-gray-50"
  >    
      <button onclick="closeModal()" class="flex justify-end"><i class="fa-solid fa-x m-2 text-gray-500"></i></button>
      <div class="mt-5 flex flex-row justify-between">
          <div class="justify-start ml-3">
              <input type="text" id="customerSearch" class="form-control rounded-lg border-gray-200 border-2 max-w-40 focus:border-customBlue lg:max-w-full" placeholder="Cari Customer disini...">
              <button class="bg-customBlue border-customBlue hover:bg-[#243F6B] p-2 rounded-lg text-white w-12" type="button">
                  <i class="fas fa-search"></i>
              </button>
          </div>
          <a href="{% url 'tambah_customer' %}" class="p-2 justify-end border-2 rounded-lg border-gray-200">
            <div class="flex flex-row justify-center items-center">
                <p class="hidden lg:block p-1 lg:text-gray-400">Tambah Customer</p>
                <i class="fas fa-plus p-1 text-customBlue"></i>
            </div>
          </a>
      </div>
      <table id="modalCustomer" class="display cell-border">
          <thead>
              <tr>
                  <th>No</th>
                  <th>Nama Customer</th>
                  <th>No. HP</th>
                  <th>Lokasi Customer</th>
                  <th>Alamat Lengkap</th>
                  <th>Pilih</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td>Toko Makmur - Ko Budi</td>
                  <td>0812 34567890</td>
                  <td>NIAS</td>
                  <td>Jalan Tembaga No. 18, Nias Utara</td>
                  <td>
                    <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                      <path d="M9.72217 11L12.7222 14L22.7222 4M16.7222 3H8.52217C6.84201 3 6.00193 3 5.3602 3.32698C4.79571 3.6146 4.33677 4.07354 4.04915 4.63803C3.72217 5.27976 3.72217 6.11984 3.72217 7.8V16.2C3.72217 17.8802 3.72217 18.7202 4.04915 19.362C4.33677 19.9265 4.79571 20.3854 5.3602 20.673C6.00193 21 6.84201 21 8.52217 21H16.9222C18.6023 21 19.4424 21 20.0841 20.673C20.6486 20.3854 21.1076 19.9265 21.3952 19.362C21.7222 18.7202 21.7222 17.8802 21.7222 16.2V12" stroke="#3D5A80" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

<div class="flex flex-col p-3 mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800">
  <div class="flex flex-row justify-between mb-3">
    <h2 class="text-lg font-semibold">Detail Pesanan</h2>
    <button onclick="window.history.back()"><i class="fa-solid fa-x w-8 text-gray-500"></i></button>
  </div>
    <hr class="border-gray-300 pb-3">
    <form class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <!-- No Pesanan -->
        <div>
          <label for="no_pesanan" class="block text-sm font-medium text-gray-700">No Pesanan</label>
          <input type="text" id="no_pesanan" value="{% if pesanan %}{{ pesanan.detail_faktur.no_faktur }}{% else %}Auto{% endif %}" disabled
            class="mt-1 block w-full bg-gray-200 border border-gray-300 rounded-md py-2 px-3 text-gray-400">
        </div>
        
        <!-- Tanggal -->
        <div>
          <label for="tanggal" class="block text-sm font-medium text-gray-700">Tanggal</label>
          <input type="date" id="tanggal" value="{% if pesanan %}{{ pesanan.detail_faktur.created_at }}{% endif %}"disabled
            class="mt-1 block w-full bg-gray-200 border border-gray-300 rounded-md py-2 px-3 text-gray-400">
        </div>
        
        <!-- No Referensi -->
        <div>
          <label for="no_referensi" class="block text-sm font-medium text-gray-700">No Referensi</label>
          <input type="text" id="no_referensi" placeholder="-" value="{% if pesanan %}{{ pesanan.detail_faktur.no_referensi }}{% endif %}"
            {% if mode == 'lihat' %}readonly{% endif %}
            class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-customBlue focus:border-customBlue">
        </div>
        
        <!-- Kurir -->
        <div>
          <label for="kurir" class="block text-sm font-medium text-gray-700">Kurir</label>
          <select id="kurir"
            class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 bg-white focus:outline-none focus:ring-customBlue focus:border-customBlue">
            <option>-- Pilih Kurir --</option>
            <option>JNE</option>
            <option>TIKI</option>
            <option>POS Indonesia</option>
          </select>
        </div>
        
        <!-- Customer -->
        <div class="md:col-span-2">
          <label for="customer" class="block text-sm font-medium text-gray-700">Customer</label>
          <div class="relative mt-1">
            <input type="text" id="customer" placeholder="Tambah/Pilih Customer" value="{% if pesanan %}{{ pesanan.customer.nama }}{% endif %}"
              {% if mode == 'lihat' %}readonly{% endif %}
              class="block w-full border border-gray-300 rounded-md py-2 px-3 text-gray-400">
            {% if mode != 'lihat' %}
            <button type="button" onclick="openModal()"
              class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 focus:outline-none">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            {% endif %}
          </div>
        </div>
        
        <!-- Term of Payment -->
        <div>
          <label for="top" class="block text-sm font-medium text-gray-700">Term Of Payment (TOP)</label>
          <div class="flex items-center">
            <input type="number" id="top" value="{% if pesanan %}{{ pesanan.detail_faktur.top }}{% endif %}"
              {% if mode == 'lihat' %}readonly{% endif %}
              class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-customBlue focus:border-customBlue">
            <span class="ml-2">Hari</span>
          </div>
        </div>
        
        <!-- Tanggal Jatuh Tempo -->
        <div>
          <label for="jatuh_tempo" class="block text-sm font-medium text-gray-700">Tanggal Jatuh Tempo</label>
          <input type="date" id="jatuh_tempo" value="{% if pesanan %}{{ pesanan.detail_faktur.jatuh_tempo }}{% endif %}"disabled
            class="mt-1 block w-full bg-gray-200 border border-gray-300 rounded-md py-2 px-3 text-gray-400">
        </div>
        
        <!-- Alamat Kirim -->
        <div class="md:col-span-2">
          <label for="alamat_kirim" class="block text-sm font-medium text-gray-700">Alamat Kirim</label>
          <textarea id="alamat_kirim" rows="3" placeholder="Masukkan alamat"
            {% if mode == 'lihat' %}readonly{% endif %}
            class="mt-1 block w-full {% if mode == 'lihat' %}bg-gray-200{% endif %} border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-customBlue focus:border-customBlue">{% if pesanan %}{{ pesanan.detail_faktur.alamat_kirim }}{% endif %}</textarea>
        </div>
        
        <!-- Keterangan -->
        <div class="md:col-span-2">
          <label for="keterangan" class="block text-sm font-medium text-gray-700">Keterangan</label>
          <textarea id="keterangan" rows="3" placeholder="Masukkan keterangan"
            {% if mode == 'lihat' %}readonly{% endif %}
            class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-customBlue focus:border-customBlue">{% if pesanan %}{{ pesanan.detail_faktur.keterangan }}{% endif %}</textarea>
        </div>
      </form>
</div>
<div class="flex flex-col p-3 mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800">
    <h2 class="text-lg font-semibold pb-3">Detail Biaya</h2>
    <hr class="border-gray-300 pb-3">
    <form class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Bruto -->
        <div>
          <label for="bruto" class="block text-sm font-medium text-gray-700">Bruto</label>
          <input type="number" id="bruto" placeholder="0,00" value="" disabled
            class="mt-1 block w-full bg-gray-200 border border-gray-300 rounded-md py-2 px-3 text-right text-gray-400">
        </div>
        
        <!-- PPN -->
        <div>
            <label for="ppn" class="block text-sm font-medium text-gray-700">PPN</label>
            <div class="flex items-center">
              <input type="number" id="ppn" placeholder="0" value="{% if pesanan %}{{ pesanan.detail_faktur.ppn }}{% endif %}"
                {% if mode == 'lihat' %}readonly{% endif %}
                class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-right focus:outline-none focus:ring-customBlue focus:border-customBlue">
              <span class="ml-2">%</span>
            </div>
          </div>
        
        <!-- Ongkir -->
        <div>
          <label for="ongkir" class="block text-sm font-medium text-gray-700">Ongkos Kirim <span class="text-gray-400">• Mata uang Rupiah (IDR)</span></label>
          <input type="number" id="ongkir" placeholder="0,00" value="{% if pesanan %}{{ pesanan.detail_faktur.ongkir }}{% endif %}"
            {% if mode == 'lihat' %}readonly{% endif %}
            class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-right focus:outline-none focus:ring-customBlue focus:border-customBlue">
        </div>
        
        <!-- Discount -->
        <div>
            <label for="discount" class="block text-sm font-medium text-gray-700">Discount</label>
            <input type="number" id="discount" placeholder="0,00" value="{% if pesanan %}{{ pesanan.detail_faktur.diskon_faktur }}{% endif %}"
              {% if mode == 'lihat' %}readonly{% endif %}
              class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 text-right focus:outline-none focus:ring-customBlue focus:border-customBlue">
          </div>
        
        <!-- Nilai PPN -->
        <div>
            <label for="nilai_ppn" class="block text-sm font-medium text-gray-700">Nilai PPN</label>
            <input type="number" id="nilai_ppn" placeholder="0,00" value="" disabled
              class="mt-1 block w-full bg-gray-200 border border-gray-300 rounded-md py-2 px-3 text-right text-gray-400">
          </div>
        
        <!-- Netto -->
        <div>
            <label for="netto" class="block text-sm font-medium text-gray-700">Netto</label>
            <input type="number" id="netto" placeholder="0,00" value="" disabled
              class="mt-1 block w-full bg-gray-200 border border-gray-300 rounded-md py-2 px-3 text-right text-gray-400">
          </div>
      </form>
</div>  
<div class="flex flex-col p-3 mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800">
    <h2 class="text-lg font-semibold pb-3">Detail Barang</h2>
    <hr class="border-gray-300">
    <table id="detailBrg" class="display cell-border">
        <thead>
            <tr>
                <th>No</th>
                <th>Kode Brg</th>
                <th>Nama Brg</th>
                <th>Harga</th>
                <th>Qty</th>
                <th>Disc%</th>
                <th>Total Nilai Disc</th>
                <th>Total</th>
                <th>Simpan</th>
                <th>Hapus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                  <select id="kodebrg-dropdown"></select>
                </td>
                <td id="namaBrg">
                  -
                </td>
                <td><input type="number" value="0.00" id="input_hrgbrg" class="w-full rounded-md border-gray-300" /></td>
                <td><input type="number" value="1" id="input_qtybrg" class="w-20 rounded-md border-gray-300" /></td>
                <td><input type="number" value="0" id="disc" class="w-20 rounded-md border-gray-300" /></td>
                <td id="totalDisc">0</td>
                <td id="totalHarga">0,00</td>
                <td><button><i class="fa-regular fa-floppy-disk text-2xl text-customBlue"></i></button></td>
                <td><button onclick="confirmPopupBtn()"><i class="fa-regular fa-trash-can text-2xl text-red-500"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let today = new Date().toISOString().split('T')[0]
    document.getElementById("tanggal").value = today
  })

//PopupModal
  function openModal() {
    let modal = document.getElementById("popupModal");
    modal.classList.remove("hidden");
    modal.classList.add("flex");
}

function closeModal() {
    let modal = document.getElementById("popupModal");
    modal.classList.remove("flex");
    modal.classList.add("hidden");
}

$(document).ready(function () {
  let table = $('#modalCustomer').DataTable({
      pageLength: 20,
      lengthChange: false, // Hilangkan "Show entries"
      ordering: false,
      scrollX: true,
      "columnDefs": [
    { className: "text-center", targets: [-1, -2] } // kolom 8 dan 9 di tengah
],
  });
  $('.dt-search').remove();
  $('.dt-info').remove();

  $('#customerSearch').on('keyup', function () { //search
    let searchValue = $(this).val();
    table.search(searchValue).draw();
  });
});

    const kodeBarang = ["0001273", "0001274", "0001275", "0001276", "0001277", "0001278"];
    const searchKode = document.getElementById("searchKode");
    const dropdownList = document.getElementById("dropdownList");

    function updateDropdown(filterText = "") {
        let filteredItems = kodeBarang.filter(kode => kode.toLowerCase().includes(filterText.toLowerCase())).slice(0, 3);
        let displayedItems = filteredItems.slice(0, filterText ? filteredItems.length : 3); // Default 3 item, cari semua saat input
        
        dropdownList.innerHTML = displayedItems
            .map(kode => `<li class="p-2 hover:bg-gray-100 cursor-pointer" onclick="selectKode(this)">${kode}</li>`)
            .join("");

        dropdownList.classList.toggle("hidden", displayedItems.length === 0);
    }

    // Tampilkan 3 item default saat pertama kali input diklik
    searchKode.addEventListener("focus", () => {
        updateDropdown();
    });

    // Update dropdown berdasarkan pencarian
    searchKode.addEventListener("input", () => {
        updateDropdown(searchKode.value);
    });

    // Sembunyikan dropdown jika klik di luar
    document.addEventListener("click", (event) => {
        if (!searchKode.contains(event.target) && !dropdownList.contains(event.target)) {
            dropdownList.classList.add("hidden");
        }
    });

    // Pilih item dan isi input
    function selectKode(element) {
        searchKode.value = element.textContent;
        dropdownList.classList.add("hidden");
    }

    document.getElementById("toggleCheck").addEventListener("click", function () {
        document.getElementById("checkIcon").classList.toggle("hidden");
    });

    function confirmPopupBtn() {
      const modal = document.getElementById("popupModalConfirm");
      modal.classList.remove("hidden"); // Tampilkan modal
      modal.style.display = "flex"; // Pastikan tampil dengan flexbox
  
      const confirmButton = document.getElementById("confirmAction");
  
      confirmButton.onclick = function () {
          console.log("Pesanan dihapus!");
          closeModalConfirm();
      };
    }
  
    function closeModalConfirm() {
        const modal = document.getElementById("popupModalConfirm");
        modal.classList.add("hidden"); // Sembunyikan modal
        modal.style.display = "none"; // Pastikan modal benar-benar hilang
    }
</script>
{% endblock %}