{% extends 'base.html' %}

{% block title %}{% if request.path == '/barang/masuk/'%}Transaksi Masuk{% else %}Transaksi Keluar{% endif %}{% endblock %}

{% block page_title %}Barang{% endblock %} 

{% block content %}
<div class="flex flex-row gap-3 mb-3">
    <a href="{% url 'transaksi_masuk' %}" class="p-2 border-2 border-gray-200 rounded-md text-sm focus:text-white focus:bg-customBlue focus:border-customBlue {% if '/barang/' in request.path %} text-white bg-customBlue border-customBlue {% endif %}">
        {% if request.path == '/barang/masuk/'%}Transaksi Masuk{% else %}Transaksi Keluar{% endif %}
    </a>
</div>
<div
  class="flex flex-col p-2 h-auto mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800"
>    
    <div class="mt-5 flex flex-row justify-between">
        <div class="justify-start ml-3">
            <input type="text" id="tableSearch" class="form-control rounded-lg border-gray-200 border-2 max-w-40 focus:border-customBlue lg:max-w-full" placeholder="Cari Transaksi disini...">
            <button class="bg-customBlue border-customBlue hover:bg-[#243F6B] p-2 rounded-lg text-white w-12" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <a href="{% if request.path == '/barang/masuk/' %}{% url 'tambah_masuk' %}{% else %}{% url 'tambah_keluar' %}{% endif %}" class="p-2 justify-end border-2 rounded-lg border-gray-200">
            <div class="flex flex-row justify-center items-center">
                <p class="hidden lg:block p-1 lg:text-gray-400">Tambah Baru</p>
                <i class="fas fa-plus p-1 text-customBlue"></i>
            </div>
        </a>
    </div>
    <table id="allpesanan" class="display cell-border">
        <thead>
            <tr>
                <th>No</th>
                <th>No Bukti</th>
                <th>Tanggal Pembuatan</th>
                <th>Terakhir Edit</th>
                <th>Keterangan</th>
                <th>Edit</th>
                <th>Hapus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TM0001</td>
                <td>01/01/2025</td>
                <td>08/01/2025</td>
                <td>Barang gratis dari Pabrik</td>
                <td><button><i class="fa-regular fa-eye text-2xl text-customBlue"></i></button></td>
                <td><button><i class="fa-solid fa-trash-can text-2xl text-red-500"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}