{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block csrf %}
  <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}Invoice{% endblock %} 

{% block page_title %}Pembelian{% endblock %} 

{% block content %}
<div class="flex flex-row gap-3 justify-start mb-3">
    <a href="{% url 'invoice' %}" class="p-2 border-2 border-gray-200 rounded-md text-sm focus:text-white focus:bg-customBlue focus:border-customBlue {% if not request.GET.status %} text-white bg-customBlue border-customBlue {% endif %}">
        Invoice
    </a>
    <a href="{% url 'invoice' %}?status=belum_lunas" class="p-2 border-2 border-gray-200 rounded-md text-sm focus:text-white focus:bg-customBlue focus:border-customBlue {% if request.GET.status == "belum_lunas" %} text-white bg-customBlue border-customBlue {% endif %}">
        Invoice Belum Lunas
    </a>
    <a href="{% url 'invoice' %}?status=jatuh_tempo" class="p-2 border-2 border-gray-200 rounded-md text-sm focus:text-white focus:bg-customBlue focus:border-customBlue {% if request.GET.status == "jatuh_tempo" %} text-white bg-customBlue border-customBlue {% endif %}">
        Invoice Jatuh Tempo
    </a>
  </div>
  <div
  class="flex flex-col p-2 h-auto mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800"
>
    <div class="mt-5 ml-3 flex flex-row justify-between {% if request.GET.status == 'jatuh_tempo' %} flex-col {% endif %}">
        <div class="justify-start">
            <input type="text" id="searchInvoice" class="form-control rounded-lg border-gray-200 border-2 max-w-40 focus:border-customBlue lg:max-w-full" placeholder="Cari No Invoice disini...">
            <button class="bg-customBlue border-customBlue hover:bg-[#243F6B] p-2 rounded-lg text-white w-12" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        {% if request.GET.status == 'jatuh_tempo' %}
            <form action="{% url 'invoice' %}" method="GET">
                <div class="mt-5 flex">
                    <div class="mx-1">
                        <label for="per_tgl" class="block text-sm font-medium text-gray-700">Per Tanggal</label>
                        <input type="date" id="per_tgl" name="per_tgl"
                        class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-customBlue focus:border-customBlue" value="{{ request.GET.per_tgl }}">
                    </div>
                </div>
            </form>
        {% else %}
            <a href="{% url 'tambah_invoice' %}" class="p-2 justify-end border-2 rounded-lg border-gray-200">
                <div class="flex flex-row justify-center items-center">
                    <p class="hidden lg:block p-1 lg:text-gray-400">Tambah Baru</p>
                    <i class="fas fa-plus p-1 text-customBlue"></i>
                </div>
            </a>
        {% endif %}
    </div>
    <table id="tabelInv" class="display cell-border">
        <thead>
            <tr>
                <th>No Invoice</th>
                <th>Tanggal Invoice</th>
                {% if not request.GET.status %}
                    <th>No Referensi</th>
                {% else %}
                    <th>Tanggal Jatuh Tempo</th>
                {% endif %}
                <th>Supplier</th>
                <th>Total</th>
                {% if not request.GET.status %}
                    <th>Status</th>
                    <th>Terakhir Edit</th>
                    <th>Edit</th>
                    <th>Hapus</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoice_list %}
                <tr data-id="{{ invoice.id }}">
                    <td>{{ invoice.no_invoice}}</td>
                    <td>{{ invoice.detailinvoice_set.first.tanggal }}</td>
                    {% if not request.GET.status %}
                        <td>{{ invoice.no_referensi }}</td>
                    {% else %}
                        <td>{{ invoice.detailinvoice_set.first.jatuh_tempo }}</td>
                    {% endif %}
                    <td>{{ invoice.supplier_id.perusahaan }}</td>
                    <td>{{ invoice.netto|floatformat:2|intcomma}}</td>
                    {% if not request.GET.status %}
                        <td>{{ invoice.status }}</td>
                        <td>{{ invoice.terakhir_edit }}</td>
                        <td><a href="{% url 'tambah_invoice' id=invoice.id %}"><i class="fa-regular fa-eye text-2xl text-customBlue"></i></a></td>
                        <td><button onclick="confirmPopupBtn({{ invoice.id }})"><i class="fa-regular fa-trash-can text-2xl text-red-500"></i></button></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/invoice.js' %}"></script>
{% endblock %}