{% extends 'base/base.html' %}
{% load static %}

{% block csrf %}
  <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}{% if jenis == 'masuk'%}Transaksi Masuk{% else %}Transaksi Keluar{% endif %}{% endblock %}

{% block page_title %}Barang{% endblock %} 

{% block style %}
<style>
  .fade-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
  
  #detailBrg {
    table-layout: auto !important;
  }

  #detailBrg th{
    white-space: nowrap;
    width: auto;
  }

  #detailBrg td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    border: 1px solid #ddd;
    overflow: visible;
    text-overflow: initial;
  }
  
  #detailBrg input,
  #detailBrg select {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
  }
</style>
{% endblock style %}

{% block content %}
<form id="tambahtransaksiform">
  <div class="flex flex-col p-3 mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800">
    <div class="flex flex-row justify-between mb-3">
      <h2 class="text-lg font-semibold">{% if jenis == 'masuk' %}Detail Transaksi Masuk{% else %}Detail Transaksi Keluar{% endif %}</h2>
      <button type="button" onclick="window.history.back()"><i class="fa-solid fa-x w-8 text-gray-500"></i></button>
    </div>
      <hr class="border-gray-300 pb-3">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <!-- No Bukti -->
        <div>
          <input type="hidden" name="jenis" id="jenis" value="{{ jenis }}">
          <input type="hidden" name="id" id="id" value="{{ transaksi.id|default:"" }}">
          <label for="no-bukti" class="block text-sm font-medium text-gray-700">No Bukti</label>
          <input type="text" id="no-bukti" placeholder="AUTO" value="{{ data_transaksi.no_bukti|default:"" }}" disabled
            class="mt-1 block w-full bg-gray-200 border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-400">
        </div>

        <!-- Tanggal -->
        <div>
          <label for="tanggal" class="block text-sm font-medium text-gray-700">Tanggal</label>
          <input type="text" id="tanggal" placeholder="AUTO" value="{{ data_transaksi.tanggal_pembuatan|default:"" }}" disabled
            class="mt-1 block w-full bg-gray-200 border border-gray-300 rounded-md py-2 px-3 text-sm text-gray-400">
        </div>
        <!-- Keterangan -->
        <div class="md:col-span-3">
          <label for="keterangan" class="block text-sm font-medium text-gray-700">Keterangan</label>
          <textarea id="keterangan" rows="3" placeholder="Masukkan keterangan"
            class="mt-1 block w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-customBlue focus:border-customBlue">{{ data_transaksi.keterangan|default:"" }}</textarea>
        </div>
      </div>
  </div>
  <div class="flex flex-col p-3 mb-4 rounded border-2 border-gray-200 bg-gray-50 dark:bg-gray-800">
      <h2 class="text-lg font-semibold pb-3">Detail Barang</h2>
      <hr class="border-gray-300">
      <table id="detailBrg" class="display cell-border">
          <thead>
              <tr>
                  <th>No</th>
                  <th>Kode Brg</th>
                  <th>Nama Brg</th>
                  <th>Qty</th>
                  <th>Simpan</th>
                  <th>Hapus</th>
              </tr>
          </thead>
          <tbody>
            {% for data in data_transaksi %}
            {% empty %}
              <tr data-id="{{ data.id }}">
                <td>{{ forloop.counter|default:"1" }}</td>
                <td>
                  <input type="hidden" class="barang-id" value="{{ data.barang.id }}">
                  <select id="kodebrg-dropdown-{{ forloop.counter }}" class="kodebrg-dropdown" data-nama-barang-id="namaBrg-{{ forloop.counter }}" data-selected-id="{{ data.barang.id }}"></select>
                      <option value="{{ data.barang.id|default:"" }}" selected>{{ data.barang.kode_barang|default:"" }}</option>
                </td>
                <td id="namaBrg-{{ forloop.counter }}">
                  {{ data.barang.nama_barang|default:"" }}
                </td>
                <td><input type="number" value="{{ qty_barang|default:0 }}" class="input_qtybrg w-full rounded-md border-gray-300" /></td>
                <td><button type="button" class="btn-submit" data-id="{{ data.id }}"><i class="fa-regular fa-floppy-disk text-2xl text-customBlue"></i></button></td>
                <td><button type="button" onclick="confirmPopupBtn({{ data.id }})"><i class="fa-regular fa-trash-can text-2xl text-red-500"></i></button></td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</form>
{% endblock %}

{% block script %}
<script src="{% static 'js/tambahtransaksi.js' %}"></script>
{% endblock %}